.admin-management-tab {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.admin-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.admin-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img-container {
    margin-bottom: 15px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    margin-top: 10px;
    text-align: left;
}

.profile-details h3 {
    margin-bottom: 10px;
    color: #333;
}

.profile-details p {
    margin: 5px 0;
    color: #666;
}

.button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin: 1rem auto;
    width: 100%;
}

.button:hover {
    background-color: #155fcc;
}

/* Popup styling */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.popup h3 {
    margin-bottom: 20px;
    color: #333;
}

.popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.popup .button {
    width: 45%;
    margin: 5px;
    background-color: #ff4b5c;
    margin: 1rem auto;
}

.popup .button:hover {
    background-color: #155fcc;
}

.popup .cancel-button {
    background-color: #ff4b5c;
}

.popup .cancel-button:hover {
    background-color: #155fcc;
}

/* Animation for popup */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
